.item {
  margin: 10px;
  display: inline-block;
  max-width: 160px;
  background-color: #ffffff;
  border-radius: 32px;
}

.cover {
  height: 80px;
  border-radius: 32px 32px 0 0;
}

.itemDesc {
  text-align: center;
  margin-top: -55px;
  padding: 10px;
}

.itemDesc figure {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #f5f6fc;
}

.itemDesc figure img {
  max-width: 100%;
}

.itemDesc h3,
.itemDesc p {
  margin: 0;
}

.itemDesc h3 {
  margin-top: 10px;
  font-size: 16px;
}

.itemDesc p {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemFollow {
  text-align: center;
  padding: 10px 0;
}

.buttonFollow {
  border: none;
  background-color: #ff5722;
  border-radius: 32px;
  padding: 8px 15px;
  color: #fff;
  font-size: 11px;
}
