.exploreContainer {
  background-color: #f5f6ff;
  padding: 100px 0 150px;
}

.exploreHeader h2 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: #46535e;
}

.exploreHeader p {
  font-size: 14px;
  text-align: center;
}

.exploreContent {
  margin-top: 50px;
}

.tab ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab ul li {
  display: inline-block;
}

.tab ul li button {
  display: block;
  background: none;
  border: none;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #46535e;
}

.active button {
  font-weight: 600;
}

.panel {
  white-space: nowrap;
  overflow-x: auto;
}

.panel::-webkit-scrollbar {
  display: none;
}
