.welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid #f0f0f0;
}

.headerGrid {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  margin: 0 auto 0 0;
  padding: 0 15px;
  font-size: 20px;
  line-height: 46px;
}

.logo a {
  text-decoration: none;
  color: #323754;
  font-weight: 600;
}

.logo i {
  font-weight: 600;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list ul li {
  display: inline-block;
}

.list ul li .divider {
}

.list ul li a {
  text-decoration: none;
  color: #323754;
  padding: 8px 15px;
  font-size: 14px;
  display: block;
  margin: 7px 0;
}

.navMenu {
  margin-right: 20px;
}
