.heroContainer {
  height: 450px;
  background: url('./assets/cloud.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.heroContent,
.loginWith {
  display: flex;
}

.heroContent,
.loginWith {
  padding: 150px 0;
}

.heroContent h2 {
  font-size: 48px;
  margin: 0;
}

.heroContent h3 {
  font-size: 22px;
  margin: 0;
}

.search {
  margin: 50px 0 30px;
}

.search label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.search input {
  display: block;
  height: 40px;
  border: 1px solid #d8d8d8;
  width: 100%;
  border-radius: 32px;
  padding: 0 15px;
  font-size: 16px;
}

.createNew {
}

.createNew p {
  margin: 0 0 10px;
  font-size: 14px;
}

.getStarted {
  background-color: #323754;
  padding: 10px 16px;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.loginWith {
  max-width: 350px;
  margin: auto;
}

.loginWith ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.loginWith ul li {
  margin-bottom: 10px;
}

.loginWith ul li input {
  width: 100%;
  display: block;
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #f0f0f0;
  font-size: 14px;
}

.loginWith ul li p {
  margin: 5px 0;
  text-align: center;
}

.loginWith ul li button {
  display: block;
  width: 100%;
  border: none;
  padding: 0 5px;
  color: #ffffff;
  border-radius: 32px;
  outline: none;
  cursor: pointer;
}

.loginWith ul li button i {
  text-align: center;
  font-size: 20px;
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding: 11px 0;
  width: 40px;
}

.loginWith ul li button span {
  font-size: 15px;
  padding: 12px 0;
  display: inline-block;
}

.loginWith .jwt {
  background: #323754;
}

.loginWith .twitter {
  background: #4494da;
}

.loginWith .google {
  background: #db4437;
}

.loginWith .github {
  background: #333333;
}
