.trendingContainer {
  padding: 120px;
  background-color: #ffffff;
}

.title {
  margin-bottom: 60px;
}

.title h2 {
  color: #46535e;
  font-size: 28px;
  margin: 0;
}

.title p {
  color: #46535e;
  font-size: 14px;
}

.trendingDiscussion {
  padding: 0 20px 0 0;
}

.nerd {
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid #f5f6fc;
  border-radius: 32px;
  overflow: hidden;
}

.nerd a {
  display: block;
  text-decoration: none;
}

.nerd img {
  max-width: 100%;
}
