.footerContainer {
  background-color: #fff;
}

.footer {
  border-top: 1px solid #e5e7e8;
  border-bottom: 1px solid #e5e7e8;
}

.logo {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 20px;
  line-height: 46px;
  font-weight: 400;
}

.logo a {
  color: #a5a7a8;
  text-decoration: none;
}

.footerNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footerNav ul li {
  display: inline-block;
}

.footerNav ul li a {
  display: block;
  padding: 15px;
  font-size: 12px;
  color: #90979e;
  text-decoration: none;
}

.copyrightMain {
  display: flex;
  justify-content: space-between;
}

.copyrightContent {
  color: #a5a7a8;
  font-size: 12px;
}
