.container {
    width: 100%;
  }
  
  .discussion {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 32px;
  }
  
  .discussion h3 {
    margin: 0;
  }

  .discussionList {
    padding: 0;
  }

  .discussionList li {
    height: 70px;
    padding: 15px 15px 0 0;
    list-style: none;
  }

  .discussionList li a h4 {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0;
  }
  
  .discussionList li a {
    display: flex;
    flex-direction: row;
    position: relative;
    text-decoration: none;
    color: #323754;
  }
  
  .discussionList .content {
    width: 100%;
  }