.item {
}

.meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.voters {
  padding-left: 5px;
}

.voter {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -5px;
}

.voter img {
  max-width: 100%;
}

.tag {
  display: inline-block;
  padding: 5px 8px;
  margin-left: 5px;
  background-color: #00b0ff;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 32px;
  font-weight: 600;
}

.item h3,
.item p {
  margin: 5px 0;
}

.item p a {
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  color: #00b0ff;
}
