.tags {
  display: inline-block;
  vertical-align: top;
}

.tags p {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #90979e;
  margin: 0 5px 0 0;
}

.tags a,
.tags button {
  display: inline-block;
  padding: 5px 8px;
  margin-left: 5px;
  background-color: #00b0ff;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 32px;
  font-weight: 600;
}

.tags i {
  font-weight: 600;
}
