.posting {
  background: #fff;
  padding: 10px;
  border-radius: 32px;
}

.userInfo {
  margin: 10px 15px;
}

.userPictOnPosting {
  background: #e5e6ee;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.userNameOnPosting {
  vertical-align: top;
  display: inline-block;
  margin: 5px 0 5px 10px;
}

.postingTextField {
  font-size: 24px;
  color: #999;
  font-weight: 400;
  padding: 0 20px 10px;
}
