.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 46px;
	padding: 0;
	background: #323754;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.logo {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 20px;
	line-height: 46px;
	font-weight: 400;
}

.logo a {
	color: #f5f6ff;
	text-decoration: none;
}

.search {
	display: flex;
	flex-direction: row;
	float: left;
	width: 360px;
}

.search label {
	padding: 0 10px;
	height: 32px;
	margin: 7px 0;
	line-height: 32px;
	color: rgba(255, 255, 255, 0.6);
	background: rgba(0, 0, 0, 0.2);
	border-radius: 32px 0 0 32px;
	font-size: 16px;
}

.search input[type='search'] {
	width: 100%;
	height: 32px;
	margin-top: 7px;
	border: none;
	font-size: 13px;
	border-radius: 0 32px 32px 0;
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.2);
	padding-right: 15px;
}

.nav {
	float: right;
	font-size: 100%;
}

.nav a {
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255, 255, 255, 0);
	text-decoration: none;
	color: #fff;
	will-change: background-color;
}

.nav a > i {
	font-size: 16px;
	font-weight: 600;
}

.nav .divider {
	font-size: 14px;
	min-width: unset;
	padding: 0;
}

.askQuestion {
	background: #ff5722 !important;
	height: 30px !important;
	margin: 8px 0;
	line-height: 30px !important;
	border-radius: 32px;
	font-size: 12px !important;
	font-weight: 600;
}

.blockedDisplay {
	display: inline-block;
}
