.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #323754;
  font-size: 14px;
  border-radius: 32px;
}

.list li a.active {
  background-color: #FFF;
  font-weight: 600;
}

.tagLogo {
  background: #FFF;
  width: 20px;
  height: 20px;
  border-radius: 7px;
  display: inline-block;
  margin-right: 5px;
}

.tagText {
  display: inline-block;
  vertical-align: top;
}

.moreTag {
  font-size: 12px;
  color: #AAA;
  text-transform: uppercase;
  padding: 12px;
  display: inline-block;
  text-decoration: none;
}
