.answeredBy {
  display: inline-block;
}

.answeredBy p {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #90979e;
  margin: 0 5px 0 0;
}

.answeredBy p {
  vertical-align: text-top;
}

.answeredBy ul {
  margin: 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
}

.answeredBy ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -5px;
  border: 1px solid #fff;
}

.answeredBy ul li img {
  max-width: 20px;
  height: auto;
}
