.qDetail {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  overflow-y: auto;
}

.qDetail::after {
  /*position: absolute;*/
  /*width: 200%;*/
  /*height: 100%;*/
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.meta {
  margin-bottom: 20px;
}

.qDetail h1 {
  color: #323754;
  margin: 0 0 20px;
}

.textInput {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sendArea {
  background: #ffffff;
  padding: 10px;
}

.send {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #e5e7e8;
  border-radius: 32px;
  justify-content: space-around;
  background: #ffffff;
}

.textArea {
  width: calc(100% - 40px);
  height: 40px;
  outline: none;
  padding: 10px 15px;
}

.textArea[contenteditable='true']:empty:before {
  content: attr(placeholder);
  color: #90979e;
}

.sendBtn {
  width: 40px;
  height: 40px;
  background: none;
  margin-left: auto;
  border: none;
  color: #90979e;
  font-size: 20px;
}

.sendOptions {
  margin-top: 10px;
}

.sendOptions label {
  font-size: 12px;
  margin-left: 5px;
  color: #90979e;
}
