.container {
  min-height: 85vh;
  background: #fff;
  border-radius: 32px;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  width: 100%;
  margin: 0 0 15px;
  border-bottom: 1px solid #dfdfdf;
}

.search {
  border-radius: 32px;
  border: 1px solid #dfdfdf;
  width: 100%;
  display: flex;
}

.search label {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  border-radius: 32px;
  font-size: 14px;
}

.search input[type='search'] {
  height: 30px;
  width: 100%;
  border-radius: 32px;
  font-size: 14px;
  padding-right: 15px;
}

.info p {
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}

.util {
  text-align: right;
  margin: 10px 0;
  font-size: 12px;
  color: #888;
}

.util span,
.util button {
  margin-left: 5px;
  border: none;
  background: none;
  outline: none;
  color: #888;
}

.util i {
  font-weight: 600;
  font-size: 16px;
}

.date {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #aaa;
}

.bubble {
  width: 80%;
  margin-bottom: 15px;
}

.bubble.isMe {
  text-align: right;
  padding-left: 20%;
  width: auto;
}

.bubble .desc p {
  display: inline-block;
  font-size: 10px;
  margin: 0 5px 5px;
  color: #666;
}

.bubble .chatContent {
  background-color: #efefef;
  border-radius: 12px;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  position: relative;
}

.bubble.isMe .chatContent {
  background-color: #00b0ff;
  color: #fff;
}

.bubble .admin {
  text-transform: uppercase;
  background-color: #00b0ff;
  color: #fff !important;
  border-radius: 5px;
  font-size: 8px !important;
  padding: 3px 5px;
  font-weight: 600;
}

.textarea {
  margin-top: auto;
  border-radius: 32px;
  border: 1px solid #dfdfdf;
  width: 100%;
  display: flex;
}

.textarea .image {
  border-radius: 32px 0 0 32px;
  padding-left: 15px;
}

.textarea .image,
.textarea .send {
  border: none;
  background: #fff;
  color: #aaa;
  min-height: 30px;
  font-size: 18px;
  vertical-align: text-bottom;
}

.textarea textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  color: #666;
  padding: 5px;
}

.textarea .send {
  border-radius: 0 32px 32px 0;
  padding-right: 15px;
}
