.container {
  position: relative;
}

.cover {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 300px;
}

.picture {
  position: absolute;
  left: 15px;
  bottom: -50px;
  background-color: #FFF;
  max-width: 300px;
  padding: 15px;
  border-radius: 32px;
}

.picture > figure {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
}

.picture > figure img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.picture .description {
  margin-left: 120px;
}

.description h3 {
  font-size: 16px;
  margin: 0 0 10px;
}

.description p {
  font-size: 14px;
  margin: 0;
}

.additionalMenu {
  position: absolute;
  left: 330px;
  bottom: -40px;
}

.additionalMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additionalMenu ul li {
  display: inline-block;
  margin-right: 10px;
}

.additionalMenu button {
  background-color: #FFF;
  border: none;
  padding: 8px 15px;
  border-radius: 32px;
  cursor: pointer;
  outline: none;
}

.leave {
  background-color: #cb2431 !important;
  color: #FFF;
  font-weight: 600;
}
