.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #323754;
  font-size: 14px;
  border-radius: 32px;
}

.list li a.active {
  background-color: #FFF;
  font-weight: 600;
}

.shortcut {
  font-size: 12px;
  color: #AAA;
  padding: 12px;
  text-transform: uppercase;
  margin: 0
}
