.filterContainer {
}

.filter {
  padding: 5px 15px;
  margin-bottom: 30px;
}

.filter h3 {
  font-size: 12px;
  color: #aaa;
  padding: 12px;
  text-transform: uppercase;
  margin: 0;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter ul li {
}

.filter ul li.selected {
  background: #ffffff;
  border-radius: 32px;
}

.filter ul li a {
  display: block;
  padding: 5px 12px;
  font-size: 14px;
  text-decoration: none;
  color: #323754;
}
