.searchTerm {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.searchTerm h2 {
  margin: 0;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
}

.searchTerm h2 strong {
  font-weight: 700;
}
