.sidebar {
  margin-bottom: 30px;
  padding: 15px 10px;
}

.sidebar h3 {
  font-size: 12px;
  color: #aaa;
  padding: 12px;
  text-transform: uppercase;
  margin: 0;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #323754;
  font-size: 14px;
  border-radius: 32px;
}
