.post {
  text-decoration: none;
  background: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  display: block;
  border-radius: 32px;
}

.postMeta {
  margin: 5px 0;
}

.postTitle {
  color: #323754;
  margin: 10px 0 0;
}

.answeredBy {
  margin: 15px 0;
}

.answeredByPicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.answeredByPicture img {
  max-width: 100%;
  height: auto;
}

.answeredByBio {
  display: inline-block;
  color: #666;
  font-size: 12px;
  vertical-align: top;
}

.answeredByBio p {
  margin: 0 0 0 10px;
}

.answeredByBio p a {
  color: #90979e;
  text-decoration: none;
}

.content {
  color: #323754;
}

.buttons {
  padding: 15px 0 5px;
  display: flex;
  justify-content: space-between;
}

.actionButton button {
  padding: 3px 10px;
  border: 1px solid #00b0ff;
  background: #fff;
  display: inline-block;
  font-size: 11px;
  margin-right: 5px;
  border-radius: 32px;
  color: #00b0ff;
  cursor: pointer;
  font-weight: 600;
}

.shareButton button {
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  text-align: center;
  color: #00b0ff;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
}

.actionButton button i {
  font-size: 12px;
  vertical-align: middle;
  font-weight: 600;
}

.shareButton button i {
  font-size: 24px;
  font-weight: 600;
}
